<div class="container-fluid">
    <div class="container colored text-center col-10 col-md-6 col-lg-6 col-xl-4">
        <div>
            <div>
                <h2>ERROR 404!</h2>
                <br>
                <h4>PAGE NOT FOUND!</h4>
            </div>
        </div>
    </div>
</div>