<!-- Image and Quotes -->
<section class="container-fluid px-0">
  <div class="row colored align-items-center content">
    <div class="col-md-6 order-2 order-md-1 px-0">
      <img src="imgs/kuma-kum-SiOJXlWeWc0-unsplash.jpg" alt="vintage desk with typewriter" class="img-fluid">
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
      <div class="row colored justify-content-center">
        <div class="col-10 col-lg-8 mb-5 mb-md-0">
          <h2>Knowledge</h2>
          <p class="lead"> in a vast collection of topics</p>
          <p id="credit">Photo by Kuma Kum on Unsplash</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row colored align-items-center content">
    <div class="col-md-6 text-center">
      <div class="row colored justify-content-center">
        <div class="col-10 col-lg-8 mb-5 mb-md-0 px-0">
          <h2>Experts</h2>
          <p class="lead">willing to assist you</p>
          <p id="credit">Photo by Alizee Baudez on Unsplash</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-0">
      <img src="imgs/alizee-baudez-srUzc3I_h8Q-unsplash.jpg" alt="set of old tools" class="img-fluid">
    </div>
  </div>
  <div class="row colored align-items-center content">
    <div class="col-md-6 order-2 order-md-1 px-0">
      <img src="imgs/cx-insight-YloghyfD7e8-unsplash.jpg" alt="contractor working on house" class="img-fluid">
    </div>
    <div class="col-md-6 align-items-center text-center order-1 order-md-2">
      <div class="row colored justify-content-center">
        <div class="col-10 col-lg-8 mb-5 mb-md-0">
          <h2>Skills, Classes?</h2>
          <p class="lead">whatever your need, you can find help</p>
          <p id="credit">Photo by CX Insight on Unsplash</p>
        </div>
      </div>
    </div>
  </div>
</section><br>

<!-- Values <UL> with <Li>-->
<div class="container-fluid mt-10">
  <div class="row colored" id="values">
    <div class="col lead">
      <h2>Our Team</h2>
      <ul>
        <li>John Clarke</li>
        <li>Kevin Chang</li>
        <li>Wence Li</li>
        <li>Daniel Felix</li>
        <li>Brandon Metcalf</li>
      </ul>
    </div>
  </div>
</div><br>