<div class="container-fluid text-center colored col-10 col-md-6 col-lg-6 col-xl-4">

  <h1>Add an expert</h1>
  <p>Fill in this form to recommend an expert to us!</p>

  <form action="index.html">
    <div class="form-group ">
      <label for="createlName"><b>Last name</b></label>
      <input type="text" class="form-control" id="createlName" placeholder="Enter the last name">
    </div>
    <div class="form-group">
      <label for="createfName"><b>First name</b></label>
      <input type="text" class="form-control" id="createfName" placeholder="Enter the first name">
    </div>
    <div class="form-group">
      <label for="createClasses"><b>Classes</b></label>
      <input type="text" class="form-control" id="createClasses" placeholder="i.e. cs160 cs161">
    </div>
    <div class="form-group">
      <label for="createSkills"><b>Skills</b></label>
      <input type="text" class="form-control" id="createClasses" placeholder="i.e. Python HTML">
    </div>
    <div class="form-group">
      <label for="createIndOrg"><b>Industry/Organization</b></label>
      <input type="text" class="form-control" id="createIndOrg" placeholder="i.e. MicroSoft Amazon">
    </div>

    <div class="form-group">
      <label for="createGitHub"><b>GitHub Link</b></label>
      <input type="text" class="form-control" id="createGitHub" placeholder="Enter the GitHub Link">
    </div>
    <div class="form-group">
      <label for="createLinkedIn"><b>LinkedIn</b></label>
      <input type="text" class="form-control" id="createLinkedIn" placeholder="Enter the LinkedIn Link">
    </div>
    <div class="form-group">
      <label for="createTwitter"><b>Twitter</b></label>
      <input type="text" class="form-control" id="createTwitter" placeholder="Enter the Twitter Link">
    </div>
    <div class="form-group">
      <label for="createEmail"><b>Email</b></label>
      <input type="email" class="form-control" id="createEmail" placeholder="Enter the Email">
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Create</button>
      <button type="submit" class="btn btn-danger">Cancel</button>
    </div>
  </form>

</div>