<div class="container colored">
  <div class="row">
    <div class="col text-center">
      Profile Approved!
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a type="button" class="btn btn-secondary" href="index.html">Home</a>
      <a type="button" class="btn btn-secondary" href="login.html">Login</a>
    </div>
  </div>
  
</div>

