<Div class="container-fluid">
    <Div class="row tableRows">
        <!-- Table for  Classes-->
        <div class="col">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row tableRows">
                            <div class="col-sm-8">
                                <h2>Classes</h2>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-secondary add-new" id="add-class"><i
                                        class="fa fa-plus"></i> Add New</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered" id="tab_class">
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Title</th>
                                <th>Show</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <!--End of Classes Table-->
            <br>
            <!-- Table for skills-->
            <div class="col">

                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row tableRows">
                                <div class="col-sm-8">
                                    <h2>Skills</h2>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-secondary add-new" id="add-Skills"><i
                                            class="fa fa-plus"></i> Add New</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered" id="tab_Skills">
                            <thead>
                                <tr>
                                    <th>Skills</th>
                                    <th>Show</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End of skills table-->
                <br>
                <!--Org Table-->
                <div class="col">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row tableRows">
                                    <div class="col-sm-8">
                                        <h2>Orgs</h2>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-secondary add-new" id="add-org"><i
                                                class="fa fa-plus"></i> Add New</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered" id="tab_org">
                                <thead>
                                    <tr>
                                        <th>Org</th>
                                        <th>Role</th>
                                        <th>Show</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>


                    <!--End of Org Table-->
                </Div>
            </Div>

