
<h1><em>Editing clarke John's profile</em></h1>
<div class='div1'>
    <h2>Classes</h2>
    <ul id="classes"></ul>


    <h4>Add a class</h4>
    <p>Class: <input type="text" id="class"></p>
    <p>Title: <input type="text" id='title'></p>
    <button id="add-class">Add</button>
</div>

<div class='div2'>
    <h2>Skills</h2>
    <ul id="skills"></ul>


    <h4>Add a skill</h4>
    <p>Skill: <input type="text" id="skill"></p>
    <button id="add-skill">Add</button>

</div>

<div class='div3'>
    <h2>Industry/Organization</h2>
    <ul id="orgs"></ul>


    <h4>Add or change industry/organization</h4>
    <p>Organization: <input type="text" id="org"></p>
    <p>Position: <input type="text" id="pos"></p>
    <button id="add-org">Add</button>

</div>



    
<br>
<br>
<br>
<br>

