<!--  Jumbotron with Image and Quote (add image URL in CSS)-->

<div class="jumbotron jumbotron-fluid" id="homeJumbo">
  <div class="container">
    <h1 class="display-4">Find the experts</h1>
    <p class="lead">Please fill out the following form</p>

    <div class="input-group">
      <form>
        <div class="form-group">
          <label for="searchInput">Search</label>
          <input type="text" class="form-control" id="searchInput"
            placeholder="Enter Names / Enter CSOs(Classes, Skills and Organizations)">
          <small id="searchInputHelp" class="form-text text-muted">Put a "-" between two tags, e.g. "Emily
            -Earnhardt" or "CS 161-CS 162-Python-Climate Corp-Amazon,"<br>Or click the search button without any input to show all the experts in the database</small>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="searchInputType" id="searchInputName" value="optionName"
            checked>
          <label class="form-check-lable" for="searchInputName">by First Name and/or Last Name</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="searchInputType" id="searchInputCSO" value="optionCSO">
          <label class="form-check-lable" for="searchInputCSO">by Classes, Skills and/or Organizations</label>
        </div>
        <a class="btn btn-primary btn-lg" href="result-list.html" id="searchInputSubmit" role="button" type="sumit"
          onclick="storeInput();">Search</a>
      </form>
    </div>

    <!-- <h3 class="text-muted text-center">Or do you want to <a href="add-new-expert.html">add a new expert</a> to the database?</h3><br> -->

  </div>
</div>


