
<div class="container-fluid">
  <div class="container colored text-center col-10 col-md-6 col-lg-6 col-xl-4">
    <div>
      <h2>Already a Mentor?</h2>
    </div>
    <div class="login-form">
      <form action="/login" method="POST">
        <div class="container">
          <div class="form-group">
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username" required>
          </div>
          <div class="form-group">
            <label for="userpassword"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="userpassword"
              id="userpassword" required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
          </div>
        </div>
      </form>      

    </div>
    <div class="container">
      <span class="register"><a href="register.html">Need an account?</a></span>
    </div>
    <br>
  </div>
</div>