.resultContainer {
  display: table;
  width: 100%;
}

.leftHalf {
  background-color: #ff9e66;
  position: absolute;
  font-weight: 30;
  left: 0px;
  width: 10%;
}

.rightHalf {
  position: absolute;
  right: 0px;
  width: 90%;
}

.tab4 { 
    tab-size: 8; 
}

.clickable-row{
	cursor: pointer;
}


